@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-image: radial-gradient(circle at 50% 0%, #1a1d26 0%, #050505 60%);
    min-height: 100vh;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}