@import "tailwindcss";

@layer base {
  body {
    background-color: #070b14;
    color: white;
  }
}

@keyframes scan-line {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

@keyframes gridMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 40px;
  }
}

@keyframes floatParticle {
  0% {
    transform: translateY(0) translateX(0);
  }

  100% {
    transform: translateY(-20px) translateX(10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes binaryFall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(110vh);
  }
}

@keyframes hexRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}